#map svg {
    position: absolute;
    top: 0;
    left: 0;
}

#map img {
     position: absolute;
    top: 0;
    left: 0;   
}


.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

button {
    position: absolute;
    width: 30px;
}
button#slow {
    margin-left: 40px;
}