<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div id="map">
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>   
<script>
String.prototype.format = function() {
    var s = this,
        i = arguments.length;

    while (i--) {
        s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
    }
    return s;
};

var posses = {{ frames|tojson }};
var champs = {{ champs|tojson }};
var hulls = {{ hulls|tojson }};

    // Domain for the current Summoner's Rift on the in-game mini-map
var domain = {
            min: {x: -120, y: -120},
            max: {x: 14870, y: 14980}
    },
    width = 512,
    height = 512,
    bg = "static/img/minimap-ig.png",
    xScale, yScale, svg;

xScale = d3.scale.linear()
  .domain([domain.min.x, domain.max.x])
  .range([0, width]);

yScale = d3.scale.linear()
  .domain([domain.min.y, domain.max.y])
  .range([height, 0]);

svg = d3.select("#map").append("svg:svg")
    .attr("width", width)
    .attr("height", height);

svg.append('image')
    .attr('xlink:href', bg)
    .attr('x', '0')
    .attr('y', '0')
    .attr('width', width)
    .attr('height', height);

var imgSize = 20;
nodes = new Array();
for (var key in posses) {
    nodes[key] = svg.append("image")
        .data(posses[key][0])
        .attr('xlink:href', "static/img/champ_icons/latest/{0}_{1}.png".format(champs[key], key > 5 ? "red" : "blue"))
        .attr('width', imgSize)
        .attr('height', imgSize)
        .attr("class", "image");
}

var lineFunction = d3.svg.line()
                          .x(function(d) { return xScale(d[0]); })
                          .y(function(d) { return yScale(d[1]); })
                          .interpolate("linear");

areas = new Array();
for (var key in hulls) {
    areas[key] = svg.append("path")
                                .attr("d", lineFunction(hulls[key][0]))
                                .attr("stroke", key == 100 ? "blue" : "red")
                                .attr("stroke-width", 2)
                                .attr("fill", key == 100 ? "blue" : "red")
                                .attr("opacity", 0.25);
}
        
var move_node = function(locs, item, key, i)
{
    if (i >= locs[key].length ) { return; }
    item[key]
        .transition()
        .duration(5000/10)
        .ease("linear")
        .attr({
            x: function (d) { return xScale(locs[key][i][0]) - imgSize/2; },
            y: function (d) { return yScale(locs[key][i][1]) - imgSize/2; }
        })
        .each("end",function() { move_node(locs, item, key, i+1); });
}

var move_area = function(key, i) {
  if (i >= hulls[key].length ) { return; }
  areas[key]
    .transition()
      .delay(5000/10)
      .attr("d", lineFunction(hulls[key][i]))
      .ease("linear")
      .each("end", function() { move_area(key, i+1) });
}



var move_area_inst = function(key, i) {
  if (i >= hulls[key].length ) { return; }
  areas[key]
      .attr("d", lineFunction(hulls[key][i]));
  setTimeout(function() { move_area_inst(key, i+1); }, 5000/10);
}

for (var key in nodes) {
    move_node(posses, nodes, key, 0);
}

for (var key in areas) {
    move_area_inst(key, 0);
}
</script>   
{% endblock %}
